.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: block;
    padding: 2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-title {
    color: #fff;
    display: block;
    font-family: $sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid #fff;
    display: block;
    width: 2rem;
  }
}

body{
margin-top:80px;
}

}.fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;
  background-color:#e0f2f1;}

.card
{
  background-color:#ffffff;
  margin:5px; 
  width: 250px;
  height:200px;
  position: relative;
  box-shadow:1px 1px 5px #333333;
  border-radius: 2px;
  overflow: hidden;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.card_after
{
  bottom: 0;
  right: 0;
  top: 70px;
  left: 0;
  margin: 0;
  position:absolute;
  width:100%;
  background-color:#ffffff;
  box-shadow:1px 1px 5px #333333;
  border-radius: 2px;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.nav_bar
{
  background-color:#00897b;
  box-shadow:1px 1px 5px #333333;
  height: 70px;
  position: absolute;
  z-index: 1;
  text-align: left;
  top: 0px;
  width: 100%;
  line-height: 70px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto';
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.menu_btn
{
  cursor: pointer;
  left:0px;
  margin-top: 16px;
  padding-left: 10px;
}
.pics_card
{
  display:block;
  background-size: cover;
  height: 100px;
  position: relative;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.pics_card_after
{
  display:block;
  background-size: cover;
  position: relative;
  height : 30%;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.txt_titre_card
{
  position:absolute;
  bottom:5px;
  left:5px;
  font-size:22px;
  color:#ffffff;
  font-family: 'Roboto';
  font-weight: 300;
  text-align:left;
}
.txt_titre_card_after
{
  font-size: 52px;
  position:absolute;
  bottom:5px;
  left:5px;
  color:#ffffff;
  font-family: 'Roboto';
  font-weight: 300;
  text-align:left;
}
.txt_desciption_card
{
  padding: 5px;
  font-size:17px;
  color:#999999;
  font-family: 'Roboto';
  font-weight: 400;
}
.txt_desciption_card_after
{
  font-size: 20px;
  padding: 20px;
  color:#999999;
  font-family: 'Roboto';
  font-weight: 400;
}
.tool_link
{
  display: inline-block;
  padding:0px 10px 0px 10px;
  text-align: center;
  font-size:17px;
  font-family: 'Roboto';
  font-weight: 500;
  cursor: pointer;
}
